@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}
main {
  margin: 0 25px 0 25px;
}

/*HEADER*/

.align {
  display: flex;
}

.logoimage {
  flex: 80%;
}

header img {
  height: 50px;
  margin-top: 38px;
  margin-left: 40px;
  margin-bottom: 30px;
  cursor: pointer;
}

.marginnav {
  font-weight: 500;
  text-decoration: none;
  color: black;
  cursor: pointer;
  flex: 50%;
  border-top: solid 2px transparent;
  padding: 49px 20px 30px 20px;
}

.marginnav:hover {
  font-weight: 500;
  border-top: solid 2px;
  padding: 49px 20px 30px 20px;
  color: #0065fc;
}

.herbeact {
  display: flex;
  flex: 20%;
}

.activities {
  font-weight: 500;
  padding-top: 32px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  flex: 50%;
  border-top: solid 2px transparent;
  padding: 49px 20px 30px 20px;
}

.activities:hover {
  font-weight: 500;
  border-top: solid 2px;
  padding: 49px 20px 30px 20px;
  color: #0065fc;
}

/*TEXT+SEARCHBAR*/

.title {
  font-size: 25px;
  margin-left: 20px;
}

.text {
  font-size: 18px;
  margin-top: 15px;
  font-weight: 400;
  margin-left: 20px;
}
.searchbar {
  display: flex;
  margin-left: 20px;
  margin-top: 15px;
}

#logo {
  padding: 15px;
  border-radius: 15px 0 0 15px;
  background-color: #f2f2f2;
}

.search {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 19px;
  height: 46px;
  width: auto;
  border: solid 1px;
  padding-left: 15px;
  border-color: #f2f2f2;
}

.search:focus {
  outline: none;
}
form {
  display: flex;
}

.button {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 16px;
  border: none;
  padding-inline: 20px;
  border-radius: 0px 15px 15px 0px;
  color: white;
  background-color: #0065fc;
  cursor: pointer;
}

.button i {
  display: none;
}

::placeholder {
  color: black;
  opacity: 1; /* Firefox */
}

/*FILTERS*/

.filterstitle {
  font-size: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.filters {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.filters i {
  margin-left: -10px;
}

.filterlist {
  display: flex;
  list-style: none;
  align-items: center;
}

.divi {
  display: flex;
  align-items: center;
  border-radius: 30px;
  margin-left: 30px;
  border: solid 2px #f2f2f2;
}

.divi:hover {
  background-color: #deebff;
  transform: scale(1.05) translateY(2px);
  cursor: pointer;
}

.logofilters {
  display: flex;
  align-items: center;
  height: 20px;
  width: 20px;
  padding: 21px;
  border-radius: 30px;
  margin-left: -4px;
  color: #0065fc;
  background: #deebff;
}

.textfilters {
  font-weight: 600;
  margin-left: 10px;
  margin-right: 15px;
}

#childlogoposition {
  font-size: 19px;
  margin-left: -7px;
}

#heartlogoposition {
  font-size: 18px;
  margin-top: 2px;
  margin-left: -9px;
}

#doglogoposition {
  font-size: 17px;
  margin-top: 1px;
}

/*INFOPART*/

.infocontent {
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-left: 20px;
  margin-top: 30px;
}

.logoinfo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  margin-right: 5px;
  border-radius: 50px;
  border: 2px solid #f2f2f2;
  color: #0065fc;
}

/* LODGING */

.mainblock {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 30px;
}

.headersection {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-top: 5px;
}

.lodging h2 {
  margin-top: 20px;
}

.headertitle {
  font-size: 15px;
}

.lodging {
  flex: 68%;
  padding: 0px 20px 0px 20px;
  border-radius: 30px;
  background: #f2f2f2;
}

.alllodgingarticle {
  display: flex;
  flex-wrap: wrap;
  margin-left: -9px;
}

.titlecart {
  font-size: 18px;
  margin-bottom: 5px;
}

.article {
  padding: 4px;
  border-radius: 20px;
  box-shadow: 1px 6px 10px 5px rgba(164, 164, 164, 0.7);
  background: white;
}

.lodgingclickable {
  flex: 30%;
  margin-bottom: 30px;
  margin-left: 19px;
  text-decoration: none;
}

.img {
  width: 100%;
  height: 118px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.notation {
  margin-top: 5px;
  color: #0065fc;
}

.bottomcart {
  padding: 5px 0px 5px 0px;
  margin-left: 10px;
  color: black;
}

.textbelowsection {
  cursor: pointer;
  margin-left: 25px;
  margin-top: 35px;
  color: black;
}

.grey-color {
  color: #f2f2f2;
}

/* MOST POPULAR */

.mostpopular {
  flex: 32%;
  padding: 20px;
  border-radius: 30px;
  margin-left: 25px;
  background: #f2f2f2;
}

.mostpopicon {
  display: flex;
  font-size: 25px;
  margin-left: 70px;
}

.mostpopular img {
  width: 100%;
  height: 130px;
  border-radius: 20px 0px 0px 20px;
}

.mostpopulararticle {
  display: flex;
  height: 140px;
  padding: 5px;
  border-radius: 20px;
  background: white;
  margin-bottom: 20px;
}

.mostpopularclickable {
  margin-top: 15px;
  margin-bottom: 35px;
  text-decoration: none;
  color: black;
  flex: 100%;
}

.fleximg {
  flex: 40%;
}

.leftcart {
  flex: 60%;
  align-self: center;
  margin-left: 20px;
}

.mostpopularnotation {
  color: #0065fc;
}

.mostpopular h3 {
  margin-bottom: 5px;
}
.mostpopular p {
  margin-bottom: 35px;
}

.mostpopulararticle i {
  font-size: 13px;
}

/* ACTIVITIES */

.activitiessection {
  margin-top: 50px;
}

.activitiestitle {
  margin-left: -18px;
}

.allactivitiessection {
  display: flex;
}

.activitiesclickable {
  margin: 0px 30px 0px 0px;
  text-decoration: none;
}

.activitiesclickable1,
.activitiesclickable2,
.activitiesclickable3,
.activitiesclickable4 {
  text-decoration: none;
}

.imgactivitieslonger {
  width: 100%;
  height: 414px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.activitiesshorter {
  flex: 50%;
}

.activitiesshorter1 {
  flex: 50%;
  margin-right: 30px;
}

.activitiescartshorter1 {
  height: 261px;
  margin-bottom: 40px;
  border-radius: 20px 20px 20px 20px;
  background: white;
  box-shadow: 0px 5px 5px 4px rgba(242, 242, 242, 0.75);
}

.imgactivitiesshorter1 {
  width: 100%;
  height: 209px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.activitiescartshorter2 {
  height: 164px;
  padding-bottom: 20px;
  border-radius: 20px 20px 20px 20px;
  background: white;
  box-shadow: 0px 5px 5px 4px rgba(242, 242, 242, 0.75);
}

.imgactivitiesshorter2 {
  width: 100%;
  height: 112px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.activitiescartshorter3 {
  height: 206px;
  margin-bottom: 40px;
  border-radius: 20px 20px 20px 20px;
  padding-bottom: 20px;
  background: white;
  box-shadow: 0px 5px 5px 4px rgba(242, 242, 242, 0.75);
}

.imgactivitiesshorter3 {
  width: 100%;
  height: 154px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.activitiescartshorter4 {
  height: 220px;
  border-radius: 20px;
  padding-bottom: 20px;
  background: white;
  box-shadow: 0px 5px 5px 4px rgba(242, 242, 242, 0.75);
}

.imgactivitiesshorter4 {
  width: 100%;
  height: 168px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.activitiesarticlelonger {
  flex: 50%;
  height: 465px;
  border: 3px;
  border-radius: 20px;
  background: white;
  box-shadow: 0px 5px 5px 4px rgba(242, 242, 242, 0.75);
}

.activitiessection h3 {
  color: black;
}

.bottomcartactivitieslonger {
  flex: 50%;
  margin: 17px 0px 0px 25px;
  border-radius: 20px 20px 20px 20px;
}

.bottomcartactivitiesshorter {
  margin: 15px 0px 0px 15px;
  border-radius: 0px 0px 20px 20px;
}

/* FOOTER */

footer {
  margin: 0;
  padding: 0;
}

.block {
  display: flex;
  margin-top: 50px;
  padding: 30px;
  background-color: #f2f2f2;
}
.card {
  flex-grow: 1;
}
.card h3 {
  margin-top: 10px;
}
.card ul {
  margin-top: 20px;
}
.card li {
  list-style-type: none;
  margin-bottom: 10px;
}

/*MEDIAQUERIES*/
@media screen and (max-width: 3840px) {
  .logoimage {
    flex: 85%;
  }
  .herbeact {
    flex: 15%;
    text-align: center;
  }
  .mostpopular img {
    height: 325px;
  }

  .mostpopular p {
    margin-bottom: 150px;
  }

  .fleximg {
    flex: 40%;
  }
  .leftcart {
    flex: 60%;
  }
  .mostpopulararticle {
    height: unset;
  }
  .img {
    height: 430px;
  }
  .headersection {
    justify-content: space-between;
  }
  .textbelowsection {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 2750px) {
  .img {
    height: 149px;
  }
  .mostpopular img {
    height: 151px;
  }
  .mostpopular p {
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 1279px) {
  .titlecart {
    font-size: 16px;
  }
  .textbelowsection {
    margin-top: 70px;
  }
}

@media screen and (max-width: 1168px) {
  .titlecart {
    font-size: 14px;
  }
  .textbelowsection {
    margin-top: 80px;
  }
}

@media screen and (max-width: 1058px) {
  .titlecart {
    font-size: 13px;
  }
  .mainblock p {
    font-size: 12px;
  }
  .textbelowsection {
    margin-top: 85px;
  }
}

@media screen and (max-width: 1003px) {
  .titlecart {
    font-size: 12px;
  }
  .mainblock p {
    font-size: 11px;
  }
}

@media screen and (max-width: 992px) {
  main {
    margin: 0;
  }
  .align {
    flex-wrap: wrap;
  }
  .logoimage {
    display: flex;
    justify-content: center;
  }
  .marginnav {
    border-bottom: solid 2px #0065fc;
    padding: 49px 20px 30px 40px;
  }
  .activities {
    border-bottom: solid 2px #f2f2f2;
    padding: 49px 20px 30px 40px;
  }
  .title {
    margin-top: 20px;
  }
  .search {
    font-size: 15px;
    width: 260px;
  }
  .textfilters {
    font-size: 11px;
  }

  .button {
    border-radius: 15px 15px 15px 15px;
    padding-inline: 18px;
    margin-left: -15px;
  }

  .infocontent {
    margin: 10px;
    font-size: 14px;
  }
  .logoinfo {
    margin-right: 10px;
  }

  .mainblock {
    display: unset;
  }

  .button i {
    display: flex;
  }

  .filters,
  .filterlist {
    flex-wrap: wrap;
  }

  .filterlist {
    width: 100%;
  }

  .searchbutton {
    display: none;
  }
  .mostpopular {
    margin: 0;
    border-radius: 0;
    flex: 100%;
  }

  .mostpopulararticle {
    flex: 100%;
  }

  .headertitle {
    font-size: 13px;
    margin: 0;
  }
  .mostpopular h3 {
    font-size: 14px;
  }
  .mostpopular p {
    font-size: 12px;
  }
  .headersection {
    padding: 10px;
    margin-top: 0;
  }
  .mostpopicon {
    margin-left: 54px;
    font-size: 17px;
  }
  .activitiessection {
    margin-top: 20px;
    padding: 20px;
  }

  .activitiessection h3 {
    font-size: 16px;
  }

  .divi {
    margin: 10px 20px;
  }

  .allactivitiessection {
    flex-wrap: wrap;
    width: 100%;
  }

  .allactivitiessection img {
    height: 200px;
  }

  .activitiesclickable {
    flex: 100%;
    height: 250px;
    margin: 0 0 40px 0;
  }

  .imgactivitieslonger {
    height: unset;
  }
  .activitiesshorter,
  .activitiesshorter1 {
    height: 540px;
    margin-bottom: 40px;
    flex: 100%;
    margin-right: unset;
  }

  .activitiesarticlelonger {
    height: 250px;
  }

  .imgactivitiesshorter1 {
    height: 200px;
  }

  .activitiescartshorter1 {
    height: 250px;
    margin-right: unset;
  }

  .imgactivitiesshorter2 {
    height: 200px;
  }

  .activitiescartshorter2 {
    height: 250px;
    margin-right: unset;
  }

  .activitiescartshorter3 {
    height: 250px;
  }

  .imgactivitiesshorter3 {
    height: 200px;
  }

  .activitiescartshorter4 {
    height: 250px;
  }

  .imgactivitiesshorter4 {
    height: 200px;
  }
  .block {
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: unset;
  }
  .card {
    margin: 10px;
  }

  .lodging {
    height: unset;
    margin-top: 30px;
    border-radius: unset;
    background: white;
  }

  .lodging h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  .titlecart {
    font-size: 14px;
  }

  .mainblock p {
    font-size: 13px;
  }

  .lodgingclickable {
    flex: 40%;
  }

  .textbelowsection {
    margin-top: unset;
    margin-left: 10px;
  }
  .marginnav,
  .activities {
    padding: 30px 20px 20px 30px;
    text-align: center;
    border-bottom: solid 2px #f2f2f2;
  }

  .marginnav:hover,
  .activities:hover {
    padding: 32px 20px 20px 30px;
    border-top: none;
    text-align: center;
    border-bottom: solid 2px;
    color: #0065fc;
  }

  .fleximg {
    flex: 50%;
  }

  .leftcart {
    flex: 50%;
  }
}

@media screen and (max-width: 768px) {
  .lodgingclickable {
    flex: 100%;
  }
}

@media screen and (max-width: 375px) {
  header img {
    margin-bottom: 5px;
  }

  .title {
    font-size: 23px;
  }

  .text {
    font-size: 17px;
  }

  #logo {
    padding: 17px;
    border-radius: 15px 0 0 15px;
  }

  .search {
    width: 260px;
    height: 50px;
    font-size: 18px;
  }

  .searchbar {
    margin-top: 25px;
  }

  .button {
    border-radius: 15px 15px 15px 15px;
    padding-inline: 18px;
    margin-left: -15px;
  }

  .textfilters {
    font-size: 14px;
    font-weight: 800;
  }

  .filterlist {
    margin: 5px;
  }

  .logoinfo {
    margin-bottom: 15px;
    height: 25px;
    width: 30px;
  }

  .infocontent {
    margin: 10px;
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 400;
  }

  .mostpopicon {
    font-size: 20px;
  }

  .mostpopular h3 {
    font-size: 15px;
  }

  .fleximg {
    flex: 45%;
  }

  .leftcart {
    flex: 55%;
  }

  .lodging {
    margin-top: 10px;
  }

  .article {
    margin-left: unset;
  }

  .alllodgingarticle {
    margin-left: unset;
  }

  .lodging {
    padding: 0px 20px 0px 20px;
  }

  .lodgingclickable {
    margin-left: unset;
  }

  .lodging h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: -5px;
  }

  .img {
    height: 108px;
  }

  .allactivitiessection img {
    height: 149px;
  }
  .activitiessection h2 {
    margin-bottom: 15px;
  }

  .activitiesarticlelonger {
    height: 205px;
    margin: 0 0 40px 0;
  }

  .activitiesshorter {
    height: 490px;
    margin-bottom: unset;
  }

  .imgactivitiesshorter1 {
    height: 200px;
  }

  .activitiescartshorter1 {
    height: 205px;
    margin-right: unset;
  }

  .imgactivitiesshorter2 {
    height: 200px;
  }

  .activitiescartshorter2 {
    height: 205px;
    margin-right: unset;
  }

  .activitiescartshorter3 {
    height: 205px;
  }

  .imgactivitiesshorter3 {
    height: 200px;
  }

  .activitiescartshorter4 {
    height: 205px;
  }

  .imgactivitiesshorter4 {
    height: 200px;
  }

  .activitiesarticlelonger {
    margin: unset;
  }

  .activitiesclickable {
    height: unset;
  }
  .activitiesshorter1 {
    height: unset;
  }
}

@media screen and (max-width: 362px) {
  .divi {
    margin: 10px 21px;
  }
  .search {
    width: 245px;
  }
}

@media screen and (max-width: 349px) {
  .search {
    width: 200px;
  }
}

@media screen and (max-width: 310px) {
  .search {
    width: 150px;
    font-size: 13px;
  }
  .activitiessection h3 {
    font-size: 13px;
  }
}
